*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body
{

    overflow-x: hidden;
}

.centerDiv
{
    width: 90%;
    margin:auto;
    position:relative;
    height: 50px;
 
}

.lineDecoration
{
    background-color: orange;
    height: 4px;
    margin: 6px 8%;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

.divUser
{
    top:80px;
    z-index: 1;
    position: absolute;
    margin-left: calc(100vw - 290px);
    width: 200px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 2px 4px 6px rgba(0,0,0,.6);
    border-radius: 8px;
    padding: 20px;
    display: none;
    opacity: 0;
    transition: 4s;
}

.divUser a
{
    text-decoration: none;
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
}

.divUser .cad
{
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0,0,0,.6);
    width: 100%;
    background-color: blue;
    color: white;
    margin: 8px 0;
}

.divUser .ent
{
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0,0,0,.6);
    width: 100%;
    background-color: orange;
    color: white;
    margin: 8px 0;
}

.displayEmoji li
{
    display: inline-block;
}

.valorAnterior
{
    color: rgba(0,0,0,.5); 
    text-decoration: line-through; 
    margin:0px; 
    padding:0px
}